@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: 'Inter', sans-serif; /* Inter フォントを使用 */
  --font-mono: 'Roboto Mono', monospace; /* Roboto Mono フォントを使用 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans); /* フォントを変数で指定 */
}